
.image{
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  margin-top: 5vh;
 
}
.image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.definition{
  text-align: center;
  width: 55%;
  margin-left: 21%;
}
h1{
  font-weight: 200;
  font-size: 3rem;
}
.info h1{
  text-align: left;
}
.comments h1{
  text-align: center;
}
.definition p{
  font-size: large;
  line-height: 25px;
}
.table-info{
  width: 80%;
  margin: auto;
  margin-top: 50px;
}
.table-info table{
  float: right;
  margin-top: 3%;
  margin-left: 30px;
}
.table-info tbody td:nth-child(1){
  text-align: center;
  font-weight: bold;
}
.table-info tbody tr td{
  padding: 20px 5px;
  border-bottom: 1px solid black;
}
.info{
  width: 50%;
  margin-left: 10%;
}
.comments form{
  font-family: "CustomFont";
  width: 50%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
.comments form input{
  padding: 10px 5px;
  border: 0;
  border-bottom: 2px solid black;
  margin: 20px 0;
  font-size: 1.1rem;
  
}
textarea{
  font-family: "CustomFont";
  padding: 10px;
  border: 2px solid black;
  font-size: 1.1rem;

}
input:focus, textarea:focus, select:focus{
  outline: none;
}
#submit {
  background-color: black;
  border: 2px solid black;
  color: white;
  cursor: pointer;
}
#submit:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
  transition: 0.3s;
}